* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.master {
  width: 1440px;
  height: auto;
  /* border: 2px solid pink; */
}

/* PAGE 1---------------------------- */
.mother1 {
  /* display: flex;
  flex-direction: column;
  align-items: start; */
  grid-template-rows: auto;
  /* justify-items: center; */
  width: 100%;
  height: 100vh;
  position: relative;
  /* border: 2px solid green; */
}
.boxtop1 {
  display: flex;
  width: 100%;
  height: 10%;
  /* border: 2px solid red; */
  justify-content: end;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
.logo {
  position: absolute;
  top: 0px;
  left: 50px;
  width: 80px;
  height: 80px;
  /* border: 1px solid red; */
  background-image: url(assets/aot.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.boxtop1-1 {
  position: relative;
  width: 100%;
  height: 60%;
  /* border: 1px solid red; */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
.boxtop1-1L {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
  z-index: 10;
  background-image: url(assets/ao-L-back.png);
  background-size: 100%h;
  background-repeat: no-repeat;
  background-position: left;
}
.boxtop1-1R {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  z-index: 10;
  background-image: url(assets/ao-R-back.png);
  background-size: 100%h;
  background-repeat: no-repeat;
  /* border: 2px solid green; */
  background-position: right;
}
.boxtop1-1L2 {
  position: absolute;
  transition: width 5s;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
  z-index: 10;
  background-image: url(assets/ao-R-top.png);
  background-size: 100%h;
  background-repeat: no-repeat;
  background-position: right;
  z-index: 10;
}
.boxtop1-1R2 {
  position: absolute;
  transition: width 5s;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-image: url(assets/ao-L-top.png);
  background-size: 100%h;
  background-repeat: no-repeat;
  /* border: 2px solid green; */
  z-index: 10;
  background-position: left;
}
.boxtop1-1L2:hover {
  width: 0px;
  z-index: 30;
}
.boxtop1-1R2:hover {
  width: 0px;
  z-index: 20;
}

.boxbottom1 {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 10px;

  /* border: 2px solid blue; */
}

/* PAGE 2---------------------------- */
.mother2 {
  position: relative;
  grid-template-rows: auto;
  width: 100%;
  height: 100vh;
  /* border: 2px solid green; */
  background-image: url(assets/unimap.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.boxtop2 {
  position: relative;
  width: 100%;
  height: 50%;
  /* border: 2px solid red; */
}

.boxbottom2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  /* border: 2px solid blue; */
}
.boxbottom2L {
  width: 40%;
  height: 80%;
  margin-bottom: 10%;
  margin-left: 10%;
  border: 3px solid white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
.boxbottom2R {
  width: 50%;
  height: 100%;
  /* border: 2px solid green; */
}

/* PAGE 3---------------------------- */
.mother3 {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  height: 100vh;
  /* border: 2px solid green; */
  background-image: url(/assets/unimap.png);
  background-size: cover;
  backface-visibility: 50%;
}
.boxL3 {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: url(assets/arm.png);
}

.boxR3 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  /* border: 2px solid blue; */
}
.boxR3top {
  width: 100%;
  height: 50%;
  /* border: 2px solid red; */
  background-image: url(assets/aot-office.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.boxR3bottom {
  width: 100%;
  height: 50%;
  /* border: 2px solid green; */
  background-image: url(assets/aot-office2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* PAGE 4---------------------------- */
.mother4 {
  position: relative;
  width: 100%;
  height: 100vh;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.boxL4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
}

/* PAGE 5---------------------------- */
.mother5 {
  grid-template-rows: auto;
  width: 100%;
  height: 100vh;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
}
.boxtop5 {
  width: 100%;
  height: 90%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
}
.boxtop5-L {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 1px solid green; */
  background-image: url(assets/contact.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.boxtop5-R {
  position: relative;
  width: 50%;
  height: 100%;
  /* border: 1px solid pink; */
  background-color: gray;
}

.boxbottom5 {
  position: relative;
  width: 100%;
  height: 10%;
  border: 1px solid blue;
}
.copyright {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 1px solid green;
  text-align: end;
}

/* -------------------------------------------- */
/* Text font------------------------- */
.txt-header-style {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100%;
}
.txt-Selogan {
  font-family: "Delicious Handrawn", cursive;
  font-style: italic;
  font-weight: 700;
  font-size: 50px;
}
.txt-nav {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: black;
}
/* button up--------------------------- */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  border: 2px solid violet;
  background-color: transparent;
}

#myBtn:hover {
  background-color: violet; /* Add a dark-grey background on hover */
}
/* PAGE 1---------------------------- */
.headerbox {
  position: absolute;
  top: 28px;
  left: 130px;
  width: 300px;
  height: 20px;
  /* border: 1px solid red; */
}
.card-page1 {
  background-image: url(assets/card-1.png);
}
.card-page2 {
  background-image: url(assets/card-2.png);
}
.card-page3 {
  background-image: url(assets/card-3.png);
}
.card-page4 {
  background-image: url(assets/card-4.png);
}

/* PAGE 2---------------------------- */
.bt2-txt-box {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 200px;
  height: 100px;
  /* border: 1px solid green; */
}
.bt2-txt-box2 {
  position: absolute;
  top: 130px;
  right: 50px;
  width: 500px;
  height: 550px;
  /* border: 3px solid red; */
  background-color: #ffffff7b;
  border-radius: 10px;
  text-align: end;
}
.bt2-txt-box3 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 490px;
  height: 550px;
  /* border: 2px solid blue; */
}

/* PAGE 3---------------------------- */
.logo2 {
  width: 150px;
  height: 150px;
  /* border: 1px solid red; */
  background-image: url(assets/aot-logo2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.boxL3-txt-box {
  width: 500px;
  height: 150px;
  /* border: 1px solid green; */
}
.boxL3-txt-box2 {
  width: 500px;
  height: 100px;
  /* border: 1px solid green; */
}
.boxL3-txt-box3 {
  width: 500px;
  height: 50px;
  /* border: 1px solid green; */
}
.boxL3-txt-box4 {
  width: 500px;
  height: 200px;
  /* border: 1px solid green; */
}
.box-tab {
  position: absolute;

  bottom: 10px;
  left: 70px;
  width: 80%;
  height: 100px;
  margin-left: 90px;
  /* border: 2px solid red; */
}
#tab1A {
  width: 100%;
  height: 100%;
  display: none;
  background: #afcffb;
}
#tab1B {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  background: rgb(0, 255, 170);
}
#tab2A {
  width: 100%;
  height: 100%;
  display: none;
  background: #242527;
  background-image: url(assets/aot-1.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#tab2B {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  background: #242527;
  background-image: url(assets/arnab.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#tab3A {
  width: 100%;
  height: 100%;
  display: none;
  background: #242527;
  background-image: url(assets/aot-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#tab3B {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  background: #344530;
  background-image: url(assets/robot.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#tab4A {
  width: 100%;
  height: 100%;
  display: none;
  background: rgb(13, 77, 37);
  background-image: url(assets/aot-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}
#tab4B {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  background: rgb(66, 199, 155);
}
.dil1 {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 30px;
  left: 30px;
  border: 2px solid violet;
  border-radius: 30px;
  background-color: rgb(143, 245, 211);
}
.dil1-txt {
  position: absolute;
  width: 470px;
  height: 270px;
  top: 30px;
  left: 30px;
  /* border: 2px solid violet; */
}
.dil2 {
  position: absolute;
  width: 320px;
  height: 300px;
  top: 30px;
  left: 200px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: rgb(92, 89, 89);
}
.dil2-txt {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 20px;
  left: 20px;
  /* border: 2px solid violet; */
  color: white;
}

.dil3 {
  position: absolute;
  width: 320px;
  height: 300px;
  top: 30px;
  left: 30px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: transparent;
}
.dil3-txt {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 20px;
  left: 20px;
  /* border: 2px solid violet; */
  color: white;
}
.btn-dil3 {
  position: absolute;
  width: 150px;
  height: 30px;
  top: 240px;
  left: 390px;
  /* border: 2px solid blue; */
}

.dil4 {
  position: absolute;
  width: 520px;
  height: 300px;
  top: 30px;
  left: 30px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: transparent;
}
.dil4-txt {
  position: absolute;
  width: 500px;
  height: 270px;
  top: 20px;
  left: 20px;
  /* border: 2px solid violet; */
  color: white;
}
/* PAGE 4---------------------------- */

.P4-txt-box2 {
  position: absolute;
  top: 30px;
  left: 1000px;
  width: 300px;
  height: 100px;
  /* border: 1px solid green; */
  text-align: end;
}

/* PAGE 5---------------------------- */

.P5-txt-box1 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 300px;
  height: 100px;
  /* border: 1px solid green; */
  text-align: end;
}

.P5-box {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 90%;
  height: 90%;
  /* border: 2px solid red; */
}
.box-in {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 90%;
  height: 90%;
  border: 2px solid rgb(0, 162, 255);
  background-color: gainsboro;
  border-radius: 30px;
}

.whatsapp {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* style Box at page 4-------------- */

.boxL-P4 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 10%;
  left: 10%;
  width: 1300px;
  height: 80%;
  /* border: 2px solid pink; */
}

.box-P4-show {
  position: absolute;
  z-index: -1;
  width: 600px;
  height: 600px;
  transition: 0.25s;
  pointer-events: none;
  overflow: hidden;
}

.box-P4-1 {
  width: 200px;
  height: 200px;
  border: 4px solid rgba(255, 0, 0, 0.3);
  transition: 0.25s;
}

.box-P4-2 {
  width: 200px;
  height: 200px;
  border: 4px solid rgba(4, 0, 255, 0.3);
  transition: 0.25s;
}
.box-P4-3 {
  width: 200px;
  height: 200px;
  border: 4px solid rgb(0, 255, 17, 0.3);
  transition: 0.25s;
}
.box-P4-4 {
  position: absolute;
  top: 200px;
  width: 200px;
  height: 200px;
  border: 4px solid rgba(255, 0, 242, 0.3);
  transition: 0.25s;
}
.box-P4-5 {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 200px;
  height: 200px;
  border: 4px solid rgba(149, 0, 255, 0.3);
  transition: 0.25s;
}
.box-P4-6 {
  position: absolute;
  top: 200px;
  left: 400px;
  width: 200px;
  height: 200px;
  border: 4px solid rgba(255, 123, 0, 0.3);
  transition: 0.25s;
}
.box-P4-7 {
  position: absolute;
  top: 400px;
  width: 200px;
  height: 200px;
  border: 4px solid rgba(0, 21, 255, 0.3);
  transition: 0.25s;
}
.box-P4-8 {
  position: absolute;
  top: 400px;
  left: 200px;
  width: 200px;
  height: 200px;
  border: 4px solid rgba(0, 242, 255, 0.3);
  transition: 0.25s;
}
.box-P4-9 {
  position: absolute;
  top: 400px;
  left: 400px;
  width: 200px;
  height: 200px;
  border: 4px solid rgba(89, 0, 255, 0.3);
  transition: 0.25s;
}
.box-all {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 600px;
  height: 600px;
  border: 4px solid pink;
  z-index: -10;
}

/* Show detail picture----------------------- */

.DetailPic-1 {
  position: absolute;
  z-index: 10;
  width: 350px;
  height: 300px;
  top: 50px;
  right: 30px;
  transition: 0.25s;
  pointer-events: none;
  border: 2px solid purple;
  border-radius: 30px;
  display: none;
}
.DetailPic-2 {
  position: absolute;
  z-index: 10;
  width: 550px;
  height: 600px;
  top: 50px;
  right: 30px;
  transition: 0.25s;
  pointer-events: none;
  border: 2px solid green;
  border-radius: 30px;
  display: none;
}
.DetailPic-3 {
  position: absolute;
  z-index: 10;
  width: 550px;
  height: 600px;
  top: 50px;
  right: 30px;
  transition: 0.25s;
  pointer-events: none;
  border: 2px solid pink;
  border-radius: 30px;
  display: none;
}
.DetailPic-4 {
  position: absolute;
  z-index: 10;
  width: 550px;
  height: 600px;
  top: 50px;
  right: 30px;
  transition: 0.25s;
  pointer-events: none;
  border: 2px solid red;
  border-radius: 30px;
  display: none;
}
.DetailPic-5 {
  position: absolute;
  z-index: 10;
  width: 550px;
  height: 600px;
  top: 50px;
  right: 30px;
  transition: 0.25s;
  pointer-events: none;
  border: 2px solid blue;
  border-radius: 30px;
  display: none;
}
.DetailPic-6 {
  position: absolute;
  z-index: 10;
  width: 550px;
  height: 600px;
  top: 50px;
  right: 30px;
  transition: 0.25s;
  pointer-events: none;
  border: 2px solid brown;
  border-radius: 30px;
  display: none;
}
.DetailPic-7 {
  position: absolute;
  z-index: 10;
  width: 550px;
  height: 600px;
  top: 50px;
  right: 30px;
  transition: 0.25s;
  pointer-events: none;
  border: 2px solid black;
  border-radius: 30px;
  display: none;
}
.DetailPic-8 {
  position: absolute;
  z-index: 10;
  width: 550px;
  height: 600px;
  top: 50px;
  right: 30px;
  transition: 0.25s;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 30px;
  display: none;
}
.DetailPic-9 {
  position: absolute;
  z-index: 10;
  width: 550px;
  height: 600px;
  top: 50px;
  right: 30px;
  transition: 0.25s;
  pointer-events: none;
  border: 2px solid gold;
  border-radius: 30px;
  display: none;
}
/* HOVER point----------------------------------- */
.box-P4-1:hover {
  background: rgba(255, 0, 0, 0.3);
  opacity: 50%;
}
.box-P4-2:hover {
  background: rgba(4, 0, 255, 0.3);
  opacity: 50%;
}
.box-P4-3:hover {
  background: rgb(0, 255, 17, 0.3);
  opacity: 50%;
}
.box-P4-4:hover {
  background: rgba(255, 0, 242, 0.3);
  opacity: 50%;
}
.box-P4-5:hover {
  background: rgba(149, 0, 255, 0.3);
  opacity: 50%;
}
.box-P4-6:hover {
  background: rgba(255, 123, 0, 0.3);
  opacity: 50%;
}
.box-P4-7:hover {
  background: rgba(0, 21, 255, 0.3);
  opacity: 50%;
}
.box-P4-8:hover {
  background: rgba(0, 242, 255, 0.3);
  opacity: 50%;
}
.box-P4-9:hover {
  background: rgba(89, 0, 255, 0.3);
  opacity: 50%;
}

/* HOVER----------------------------------- */

.boxL-P4 .box-P4-1:hover ~ .box-P4-show {
  background-image: url(assets/pf1.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.boxL-P4 .box-P4-1:hover ~ .DetailPic-1 {
  display: block;
}
.boxL-P4 .box-P4-2:hover ~ .box-P4-show {
  background-image: url(assets/pf2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.boxL-P4 .box-P4-2:hover ~ .DetailPic-2 {
  display: block;
}
.boxL-P4 .box-P4-3:hover ~ .box-P4-show {
  background-image: url(assets/pf3.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.boxL-P4 .box-P4-3:hover ~ .DetailPic-3 {
  display: block;
}
.boxL-P4 .box-P4-4:hover ~ .box-P4-show {
  background-image: url(assets/pf4.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.boxL-P4 .box-P4-4:hover ~ .DetailPic-4 {
  display: block;
}
.boxL-P4 .box-P4-5:hover ~ .box-P4-show {
  background-image: url(assets/pf5.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.boxL-P4 .box-P4-5:hover ~ .DetailPic-5 {
  display: block;
}
.boxL-P4 .box-P4-6:hover ~ .box-P4-show {
  background-image: url(assets/pf6.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.boxL-P4 .box-P4-6:hover ~ .DetailPic-6 {
  display: block;
}
.boxL-P4 .box-P4-7:hover ~ .box-P4-show {
  background-image: url(assets/pf7.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.boxL-P4 .box-P4-7:hover ~ .DetailPic-7 {
  display: block;
}
.boxL-P4 .box-P4-8:hover ~ .box-P4-show {
  background-image: url(assets/pf8.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.boxL-P4 .box-P4-8:hover ~ .DetailPic-8 {
  display: block;
}
.boxL-P4 .box-P4-9:hover ~ .box-P4-show {
  background-image: url(assets/pf9.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.boxL-P4 .box-P4-9:hover ~ .DetailPic-9 {
  display: block;
}
